/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: rgba(255, 0, 112, 1);
  --text-background-color: rgba(255, 0, 112, 1);
  --main-text: IBM Plex Mono, sans-serif;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: rgba(0, 0, 40, 1);
  --color-title: rgba(219, 0, 255, 1);
  --border-hover: rgba(255, 0, 112, 0.4);
  --color-title-decor: rgba(0, 0, 40, 1);
  --color-main-text: rgba(241, 178, 206, 1);
}
